page-record {

  canvas{
    width: 100%;
  }

  ion-spinner{
    width: 48px !important;
    height: 48px !important;
  }

  .spinner{
    text-align: center;
  }

  ion-content{
    text-align: center !important;
  }

}
